<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dz.factory.bound.mapper.BoundMapper">
	
	<insert id="insertInbound" parameterType="BoundDto">
		INSERT INTO bound(bound_id, company_id, emp_id, bound_no, bound_category, partner_code, bound_date, bound_type, bound_state, isDelete)
		VALUES
		(#{bound_id}, #{company_id}, #{emp_id}, #{bound_no}, #{bound_category}, #{partner_code}, #{bound_date}, #{bound_type}, #{bound_state}, #{isDelete})
	</insert>
	
	<select id="selectInboundAll" resultType="BoundDto">
		SELECT * FROM bound WHERE bound_type = 'inbound'
	</select>
	
	<select id="getMaxBoundId" resultType="Long">
		SELECT Max(bound_id) from bound
	</select>
	
	<select id="getMaxBoundNo" resultType="String">
	    SELECT MAX(bound_no)
	    FROM bound
	    WHERE bound_no LIKE CONCAT(#{prefix}, '%')
	</select>
</mapper>