<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dz.factory.bound.mapper.OutBoundDetailMapper">
	
	<insert id="insertOutboundDetail" parameterType="OutBoundDetailDto">
		INSERT INTO BOUND_DETAIL(company_id, bound_id, unit_price_id, inventory_id, item_code, item_name, tot_amount, detail_state, detail_date, amount, detail_isDelete, description)
		VALUES
		(#{company_id}, #{bound_id}, #{unit_price_id}, #{inventory_id}, #{item_code}, #{item_name}, #{tot_amount}, #{detail_state}, #{detail_date}, #{amount}, #{detail_isDelete}, #{description})
	</insert>
	
	<select id="selectOutboundDetailAll" resultType="OutBoundDetailDto">
		SELECT * FROM BOUND_DETAIL
		where detail_type = 'outbound'
	</select>
	
	<select id="getStock" resultType="java.lang.Integer">
        SELECT total
        FROM inventory
        WHERE storage_code = #{storage_code}
        AND location_code = #{location_code}
        AND item_code = #{item_code}
    </select>
</mapper>