<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.factory.production.mapper.ProductionAddMapper">
	<select id="getComponentItems" resultType="ComponentItemDto">
		SELECT 
			item.item_code,
		    item_name,
			r.quantity,
		    i.storage_code,
		    s.storage_name,
		    i.location_code,
		    l.location_name,
		    i.total,
		    description
		    
		FROM 
		    item
		
		left join product_relation r on r.component_code=item.item_code
		left join inventory i on item.item_code=i.item_code
		left join storage s on i.storage_code=s.storage_code
		left join detail_location l on i.location_code=l.location_code
		
		WHERE
		   item.item_code IN (
		        SELECT component_code
		        FROM product_relation
		        WHERE item_code = #{itemCode}
		    );
	</select>
	<select id="getRelation" resultType="RelationDto">
		select r.item_code, r.component_code, r.quantity, item.item_name
		 from product_relation r
		 left join item on item.item_code=r.component_code
		 WHERE r.item_code=#{itemCode};
	</select>
</mapper>