<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.factory.production.mapper.ProductionAddMapper">	
	<!-- production Code 조회 -->
   <select id="getMaxProductionCode" resultType="String">
	   SELECT MAX(production_code)
	   FROM production
	   WHERE production_code LIKE CONCAT('%', #{prefix}, '%')
   </select>
	<!-- grid02 에 필요한 item -->
	<select id="getComponentItems" resultType="ComponentItemDto">
		SELECT 
			item.item_code,
		    item_name,
			r.quantity,
		    i.storage_code,
		    s.storage_name,
		    i.location_code,
		    l.location_name,
		    i.total,
		    description
		    
		FROM 
		    item
		
		left join product_relation r on r.component_code=item.item_code
		left join inventory i on item.item_code=i.item_code
		left join storage s on i.storage_code=s.storage_code
		left join detail_location l on i.location_code=l.location_code
		
		WHERE
		   item.item_code IN (
		        SELECT component_code
		        FROM product_relation
		        WHERE item_code = #{itemCode}
		    );
	</select>
	<!-- 자재관계 -->
	<select id="getRelation" resultType="RelationDto">
		select r.item_code, r.component_code, r.quantity, item.item_name
		 from product_relation r
		 left join item on item.item_code=r.component_code
		 WHERE r.item_code=#{itemCode};
	</select>
	<!-- 재고 -->
	<select id="getInventory" resultType="Inventory">
		select * from inventory
		<where>
		    <if test="itemCode != null"> item_code=#{itemCode}</if>
		    <if test="storageCode != null"> AND storage_code=#{storageCode}</if>
		    <if test="locationCode != null"> AND location_code=#{locationCode}</if>
		</where>
	</select>
	<!-- 생산등록 -->
	<insert id="addProduction" parameterType="ProductionDto" useGeneratedKeys="true" keyProperty="production_id">
		insert into production (production_code, company_id, production_date) values (#{production_code}, #{company_id},#{production_date})
	</insert>
	<insert id="addDetail" parameterType="ProductionDetailDto">
		insert into production_detail(production_code, company_id, item_code, quantity, line_code, production_id, description, storage_code, location_code, emp_id, partner_code, lead_time, work_force, team_code)
		values(#{production_code}, #{company_id}, #{item_code}, #{quantity}, #{line_code}, #{production_id}, #{description}, #{storage_code}, #{location_code}, #{emp_id}, #{partner_code}, #{lead_time}, #{work_force}, #{team});
	</insert>
	<insert id="addComponent" parameterType="ComponentDto" >
		insert into production_detail_component (production_code, item_code, company_id, production_id,location_code, storage_code, quantity)
		values
		<foreach collection="componentList" item="component" separator=",">
			 (#{component.production_code}, #{component.item_code},#{component.company_id},#{component.production_id},#{component.location_code},#{component.storage_code},#{component.quantity})
		</foreach>
	</insert>
	
	
</mapper>