<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.factory.production.mapper.ProductionListMapper">
	<select id="getListByDate" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		select * from production 
		left join production_detail d on production.production_code = d.production_code
		<where>
			<foreach collection="filterList" index="key" item="value" separator="and">
				<choose>
					<when test= "key.equals('date')">
						date(production_date)='${value}'
					</when>
					<when test= "key.equals('description')">
						 d.description LIKE CONCAT('%', '${value}', '%')
					</when>					
					<otherwise>
						${key}='${value}'
					</otherwise>				
				</choose>
			</foreach>
		</where>
	</select>
	
	<select id="getList" parameterType="java.util.HashMap" resultType="java.util.ArrayList">
		select * from production_detail d
		left join production p on d.production_code=p.production_code
		<where>
			<foreach collection="obj.keySet()" item="key" separator="and">
				<choose>
					<when test= "key.equals('description')">
						#{obj.key} LIKE CONCAT('%', #{obj.value}, '%')
					</when>					
					<otherwise>
						#{obj.key} = #{obj.value}
					</otherwise>
				</choose>
			</foreach>
		</where>
	</select>
	
	
	<update id="updateProduction" parameterType="production">
		alter table production 
	</update>
	<update id="updateDetail">
		
	</update>
	<update id="updateComponent">
	
	</update>
	<update id="deleteProduction">
	
	</update>
	
	
</mapper>