<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.factory.mapper.management.ItemMapper">
	<select id="selAllItem" resultType="Item">
		select * from item
	</select>

	<insert id="insertItem" parameterType="Item">
		INSERT INTO item
		(item_name, location_id, itemSKU, storage_id,company_id)
		VALUES
		(#{item_name},#{location_id},#{itemSKU},#{storage_id},1);
	</insert>

	<delete id="deleteItem" parameterType="int">
		DELETE from
		item
		WHERE item_id = ${id}
	</delete>

</mapper>