<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz.factory.management.mapper.ItemMapper">

	<select id="selAllItem" resultType="Item">
		select * from item where isdelete = 0
	</select>

	<insert id="insertItem" parameterType="Item">
		INSERT INTO item 
		(company_id, item_code, item_name,
		location_code,storage_code,width,length,height
		,volume,weight,unit,description,category, standard )
		VALUES
		(#{company_id},#{item_code},#{item_name},#{location_code},#{storage_code},#{width},#{length},#{height},#{volume},#{weight},#{unit},#{description},#{category},#{standard});
	</insert>

	<update id="deleteItem" parameterType="string">
		update item set isDelete = 1
		where  
		item_code = #{id}
	</update>

	<select id="selectSearchItem" parameterType="hashmap"
		resultType="Item">
		select * from item
		<where>
			isdelete = 0 
			<if test="item_code != null and item_code != ''">
				and item_code LIKE CONCAT('%', #{item_code}, '%')
			</if>
			<if test="item_name != null and item_name != ''">
				<choose>
					<when test="item_code != null and item_code != ''">AND</when>
					<otherwise></otherwise>
				</choose>
				and item_name LIKE CONCAT('%', #{item_name}, '%')
			</if>
		</where>
	</select>

	<update id="updateItem" parameterType="Item">
		UPDATE item
		SET
		item_name=#{item_name}, category=#{category} ,
		description=#{description}
		,width=#{width} ,length=#{length} ,height=#{height}
		,volume=#{volume} ,weight=#{weight} ,unit=#{unit} ,storage_code=#{storage_code}
		,location_code=#{location_code} , standard=#{standard}
		<if test="isDelete != null">
			,isdelete =#{isDelete}
		</if>
		WHERE
		item_code =#{item_code}
	</update>

	<select id="selSameOne" resultType="Item" parameterType="Item">
		select * from item where item_code = #{item_code}
	</select>

</mapper>