<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dz.factory.management.mapper.StorageMapper">

	<insert id="insertStorage" parameterType="Storage">
		INSERT INTO Storage
		(storage_code,storage_name,company_id)
		VALUES (#{storage_code},
		#{storage_name},#{company_id})
	</insert>
	
	<select id="selectAll" resultType="Storage">
		select * from storage where
		isDelete = 0
	</select>

	<select id="selectLocationAll" resultType="Location">
		SELECT * from
		detail_location where isDelete = 0
	</select>

	<insert id="insertLocation" parameterType="Location">
		INSERT INTO
		detail_location (storage_code,location_code, location_name,company_id)
		values(#{storage_code},#{location_code},#{location_name},#{company_id})
	</insert>

	<delete id="deleteLocation" parameterType="int">
		DELETE from
		detail_location
		WHERE location_code = #{id}
	</delete>

	<delete id="deleteStorage" parameterType="string">
		delete from storage
		where storage_code = #{storage_code}
	</delete>

	<update id="storageIsDeleteTrue" parameterType="string">
		update storage
		set isDelete = 1 where storage_code = #{code}
	</update>

	<update id="locationIsDeleteTrue" parameterType="Location">
		update detail_location
		set isDelete = 1 where storage_code = #{storage_code} and
		location_code = #{location_code}
	</update>
	
	<select id="storageSameOne" resultType="Storage">
		select * from storage
		where storage_code = #{storage_code} 
	</select>
	
	<update id="updateStorage" parameterType="Storage">
		update storage 
			set 
				storage_name = #{storage_name},
				isDelete = 0
				where storage_code = #{storage_code}
	</update>
	
	<select id="locationSameOne" parameterType="Location" resultType="Location">
		select * from detail_location
		where storage_code = #{storage_code} and location_code = #{location_code}
	</select>

	<update id="updateLocation" parameterType="Location">
		UPDATE detail_location
		SET 
			location_name=#{location_name},
			isDelete = 0
		WHERE
		 location_code =#{location_code} and storage_code = #{storage_code}
	</update>

</mapper>